In [1]:
import pandas as pd

In [2]:
path='our_world_in_data.xlsx'

In [3]:
df=pd.read_excel(path)

In [4]:
df

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2021-09-14,154180.0,86.0,79.143,7171.0,2.0,3.857,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
1,OWID_AFR,NaN,Africa,2021-09-14,8082453.0,25179.0,18769.571,203924.0,608.0,500.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-09-14,158431.0,995.0,884.571,2553.0,5.0,4.286,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
3,DZA,Africa,Algeria,2021-09-14,200528.0,227.0,269.000,5614.0,18.0,20.429,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
4,AND,Europe,Andorra,2021-09-14,15099.0,3.0,4.143,130.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,VNM,Asia,Vietnam,2021-09-14,635055.0,10508.0,12008.429,15936.0,276.0,319.286,...,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704,NaN
218,OWID_WRL,NaN,World,2021-09-14,225805938.0,535799.0,550586.429,4648435.0,8816.0,8767.714,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
219,YEM,Asia,Yemen,2021-09-14,8502.0,50.0,45.857,1608.0,4.0,10.571,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
220,ZMB,Africa,Zambia,2021-09-14,208049.0,89.0,107.857,3635.0,2.0,2.143,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
221,ZWE,Africa,Zimbabwe,2021-09-14,126817.0,418.0,145.857,4550.0,7.0,6.714,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [5]:
df.head(5)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2021-09-14,154180.0,86.0,79.143,7171.0,2.0,3.857,...,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.511,NaN
1,OWID_AFR,NaN,Africa,2021-09-14,8082453.0,25179.0,18769.571,203924.0,608.0,500.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-09-14,158431.0,995.0,884.571,2553.0,5.0,4.286,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
3,DZA,Africa,Algeria,2021-09-14,200528.0,227.0,269.000,5614.0,18.0,20.429,...,0.5,278.364,6.73,0.7,30.4,83.741,1.90,76.88,0.748,NaN
4,AND,Europe,Andorra,2021-09-14,15099.0,3.0,4.143,130.0,0.0,0.000,...,NaN,109.135,7.97,29.0,37.8,NaN,NaN,83.73,0.868,NaN

In [6]:
df.sort_values('location',ascending=True)

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2021-09-14,154180.0,86.0,79.143,7171.0,2.0,3.857,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
1,OWID_AFR,NaN,Africa,2021-09-14,8082453.0,25179.0,18769.571,203924.0,608.0,500.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-09-14,158431.0,995.0,884.571,2553.0,5.0,4.286,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
3,DZA,Africa,Algeria,2021-09-14,200528.0,227.0,269.000,5614.0,18.0,20.429,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
4,AND,Europe,Andorra,2021-09-14,15099.0,3.0,4.143,130.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,VNM,Asia,Vietnam,2021-09-14,635055.0,10508.0,12008.429,15936.0,276.0,319.286,...,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704,NaN
218,OWID_WRL,NaN,World,2021-09-14,225805938.0,535799.0,550586.429,4648435.0,8816.0,8767.714,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
219,YEM,Asia,Yemen,2021-09-14,8502.0,50.0,45.857,1608.0,4.0,10.571,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
220,ZMB,Africa,Zambia,2021-09-14,208049.0,89.0,107.857,3635.0,2.0,2.143,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
221,ZWE,Africa,Zimbabwe,2021-09-14,126817.0,418.0,145.857,4550.0,7.0,6.714,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [7]:
df.loc[df['location']=='India']

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
93,IND,Asia,India,2021-09-14,33316755.0,27176.0,31433.857,443497.0,284.0,298.0,...,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,NaN

in the line 15 we use above code to search particular value in the big data frame in row or column value to search particular data or all data for analysis

In [8]:
df['location'] = df['location'].replace(['India'],'somu')

In [9]:
df.loc[df['location']=='somu']

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
93,IND,Asia,somu,2021-09-14,33316755.0,27176.0,31433.857,443497.0,284.0,298.0,...,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,NaN

In [10]:
df['location'] = df['location'].replace(['somu'],'India')

In [11]:
df.loc[df['location']=='India']

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
93,IND,Asia,India,2021-09-14,33316755.0,27176.0,31433.857,443497.0,284.0,298.0,...,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,NaN

for editing or replaceing any value or name in the data frame

In [12]:
df

,iso_code,continent,location,last_updated_date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2021-09-14,154180.0,86.0,79.143,7171.0,2.0,3.857,...,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.511,NaN
1,OWID_AFR,NaN,Africa,2021-09-14,8082453.0,25179.0,18769.571,203924.0,608.0,500.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALB,Europe,Albania,2021-09-14,158431.0,995.0,884.571,2553.0,5.0,4.286,...,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.795,NaN
3,DZA,Africa,Algeria,2021-09-14,200528.0,227.0,269.000,5614.0,18.0,20.429,...,0.5,278.364,6.73,0.700,30.400,83.741,1.900,76.88,0.748,NaN
4,AND,Europe,Andorra,2021-09-14,15099.0,3.0,4.143,130.0,0.0,0.000,...,NaN,109.135,7.97,29.000,37.800,NaN,NaN,83.73,0.868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,VNM,Asia,Vietnam,2021-09-14,635055.0,10508.0,12008.429,15936.0,276.0,319.286,...,2.0,245.465,6.00,1.000,45.900,85.847,2.600,75.40,0.704,NaN
218,OWID_WRL,NaN,World,2021-09-14,225805938.0,535799.0,550586.429,4648435.0,8816.0,8767.714,...,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,0.737,NaN
219,YEM,Asia,Yemen,2021-09-14,8502.0,50.0,45.857,1608.0,4.0,10.571,...,18.8,495.003,5.35,7.600,29.200,49.542,0.700,66.12,0.470,NaN
220,ZMB,Africa,Zambia,2021-09-14,208049.0,89.0,107.857,3635.0,2.0,2.143,...,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.584,NaN
221,ZWE,Africa,Zimbabwe,2021-09-14,126817.0,418.0,145.857,4550.0,7.0,6.714,...,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.571,NaN

In [18]:
df.max()

C:\Users\USER1\AppData\Local\Programs\Python\Python39\Scripts/ipykernel_8640/1151452817.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()

iso_code                                          ZWE
location                                     Zimbabwe
last_updated_date                          2021-09-14
total_cases                               225805938.0
new_cases                                    535799.0
new_cases_smoothed                         550586.429
total_deaths                                4648435.0
new_deaths                                     8816.0
new_deaths_smoothed                          8767.714
total_cases_per_million                    208199.373
new_cases_per_million                        4904.949
new_cases_smoothed_per_million               1305.769
total_deaths_per_million                     5960.536
new_deaths_per_million                         70.787
new_deaths_smoothed_per_million                27.809
reproduction_rate                                1.94
icu_patients                                  24795.0
icu_patients_per_million                       74.478
hosp_patients                                 89965.0
hosp_patients_per_million                     596.521
weekly_icu_admissions                         989.574
weekly_icu_admissions_per_million              60.752
weekly_hosp_admissions                        82340.0
weekly_hosp_admissions_per_million             247.33
new_tests                                   1430891.0
total_tests                               547281120.0
total_tests_per_thousand                    13926.437
new_tests_per_thousand                         86.613
new_tests_smoothed                          1607946.0
new_tests_smoothed_per_thousand                 64.18
positive_rate                                   0.368
tests_per_case                                 2823.4
total_vaccinations                       5764600715.0
people_vaccinated                        3328728588.0
people_fully_vaccinated                  2370430824.0
total_boosters                             19668635.0
new_vaccinations                           24794654.0
new_vaccinations_smoothed                  32999243.0
total_vaccinations_per_hundred                 234.83
people_vaccinated_per_hundred                  118.09
people_fully_vaccinated_per_hundred            116.74
total_boosters_per_hundred                       33.1
new_vaccinations_smoothed_per_million         22295.0
stringency_index                                 96.3
population                               7874965732.0
population_density                          20546.766
median_age                                       48.2
aged_65_older                                  27.049
aged_70_older                                  18.493
gdp_per_capita                               116935.6
extreme_poverty                                  77.6
cardiovasc_death_rate                         724.417
diabetes_prevalence                             30.53
female_smokers                                   44.0
male_smokers                                     78.1
handwashing_facilities                         98.999
hospital_beds_per_thousand                       13.8
life_expectancy                                 86.75
human_development_index                         0.957
excess_mortality                                  NaN
dtype: object